@model OnboardingManagement.Models.Onboarder

<script>
    
    function getStudent(){
        debugger;
        $.ajax({
            url: "/Onboarder/getOnboarder",
            type: "POST",
            data: JSON.stringify({ 'id': this.value()}),
            dataType: "json",
            traditional: true,
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $("#onboardId").val(data.O_Id).change();
                $("#Onboard_Name").val(data.O_Name);
                $("#ReportingManagerID").data("kendoDropDownList").select(data.RM_Id - 1)

            },
            error: function () {
                alert("An error has occured!!!");
            }
        });          
    } 
</script>
<div>@Html.Partial("_HeadNavBar")</div>
<div>@Html.Partial("_Toolbar")</div>
<div style="background-color:mintcream">
    <div class="container-fluid">
        <h1>OnBoarders</h1>
        <div class="row">

            @*Add onboarder Form*@
            <div class="col-sm-4" style="background-color:lemonchiffon;min-height:300px;border:groove;">
                @Html.Partial("_AddOnboarder")
            </div>
            @*End of First Coloumn of first row*@

            @*Update onboarder form*@
            <div class="col-sm-4" style="background-color:lavenderblush; min-height:300px;border:groove;">
                @Html.Partial("_UpdateOnboarder")
            </div>
            @*End of Second coloumn of first row*@

            <div class="col-sm-4" style="background-color:lavender;min-height:300px;border:groove;">
                @Html.Partial("_DeleteOnboarder")
            </div>

            @*End of Third colmn of first row*@
        </div>      
        @*End of first Row*@
    <div class="row">
        @Html.Partial("_ViewOnboarders")
    </div>
    
    </div>

</div>
